# Example env file -- rename this to .env

# https://app.tavily.com/home
TAVILY_API_KEY=

# https://console.anthropic.com/settings/keys
#ANTHROPIC_API_KEY=

# https://ai.google.dev/gemini-api/docs/api-key
#GEMINI_API_KEY=

# https://platform.openai.com/account/api-keys
#OPENAI_API_KEY=

# chat model to use when the chef-agent is created.
#LETTA_CHAT_MODEL="anthropic/claude-sonnet-4-20250514"
#LETTA_CHAT_MODEL="google_ai/gemini-2.5-flash"